*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
font-size:15px ;

--color-body-primary:#10141e;
--color-buttons-primary:#fc474747;
--color-buttons-hover:#ffffff;
--color-card--primary:#161d2f;
--color-color-secondary:#5a698f;

}


body {
background-color: #10141e;

}
h1{
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3{
  font-size:24px
}
h4{
  font-size: 18px;
}